[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ebooklib = "*"
docopt = "*"
html2text = "*"
pyinstaller = "*"

[dev-packages]
pytest = "*"
sakrament-epub-reader = {editable = true, path = "."}

[requires]
python_version = "3.9"
